body {
  font-family: monospace;
  width: 97%;
  margin: 15px;
}

#mazeout table {
  table-layout: fixed;
  width: 1px;
  padding: 1px;
}

#mazeout td {
  /*overflow: hidden; */
}

#mazeout td.n {
  border-top: 0px solid #fff;
}

#mazeout td.s {
  border-bottom: 0px solid #fff;
}

#mazeout td.e {
  border-right: 0px solid #fff;
}

#mazeout td.w {
  border-left: 0px solid #fff;
}

#mazecanvas canvas {
  background-color: #fff;
}

#mazetable td {
  padding: 5px 10px 5px 5px;
}

.grid {
  background-color: #fff;
  border: 1px solid #000;
  height: 5px;
  width: 5px;
}

.gridunvisited {
  background-color: #ddd;
}

.gridactive {
  background-color: #f00;
}
